<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="ko">
<head>
    <meta charset="utf-8"/>
    <title>Kakao 지도 정점, 간선 편집 도구</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-
ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/map.css">
</head>
<body class="container-fluid position-relative w-100">
<div class="w-100 text-center position-absolute top-50 start-50 translate-middle">
    <h1 class="pb-5">Kakao 지도 정점, 간선 편집 도구</h1>
    <p>서버는 기능의 정상 작동에 초점을 맞추어 코드를 보기에 불편할 수 있음.</p>
    <p>서버와의 통신 시 에러 처리를 하지 않음.</p>
    <p>사용에 문제 생길 시 연락 바람.</p>
    <a href="/roadMap" class="btn btn-outline-primary p-2">도로 정점, 간선 편집</a>
    <a href="/sidewalkMap" class="btn btn-outline-primary p-2">도보 정점, 간선 편집</a>
</div>
</body>
</html>